  
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image:url(1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
    width: 100vw;
    
    

    


    
}


header {
    background-color:green;
    color: orange;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color:brown;
    text-decoration: none;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

footer {
    background-color: green;
    text-align: center;
    padding: 10px 0;
}
div *{
    color:#fff;
}
.tag{
    color: white;
    font-size: 40px;
    text-align: center;
}
 p{
    color:rgb(239, 7, 7);
    font-size: 20px;
}
.poor{
    
    margin-left:100px;
    
    
}
.tagline{
    color:rgb(6, 14, 234);
    text-align: center;
}
.two{
    color: green;
}
.one{
    color:  rgb(255, 106, 0);
}
.foot{
    color: orange;
}
img{
    height:30%;
    width: 20%;
    margin-left: 500px;
}
.quote{
    color: blue;
}
.causes{
    color:red;
}
#cofw{
    height: 50%;
    width: 50%;
    margin-left: 450px;
}
.aspects{
    color:green;
}
span{
    color:green;
}
span.twoo{
    color:red;
}
span.threee{
    color: purple;
}
.mone{
    height: 50%;
    width: 50%;
    margin-bottom:10px;
    margin-left: 450px;
}
.mtwo{
    height: 50%;
    width: 50%;
    margin-left:450px;
}
.spm{
    color:blue
}
.eh{
    color: green;
}
h4, p {
     display: inline;
}
.sec{
    font-size: 20px;
}
h4{
    color:darkorange;
}
.hwo{
    height: 50%;
    width: 50%;
    margin-left: 450px;
    margin-bottom: 5px;
}
.whg{
    height: 50%;
    width:50%;
    margin-left: 450px;
    margin-top: 5px;
}
.imge{
    height: 50%;
    width: 50%;
    margin-left: 450px;
}
.imgoo{
    height: 50%;
    width: 50%;
    margin-left: 450px;   
}
